<div class="container">
    <div class="hero"></div>

    <div class="promoted">
        <img src="/CatalystUI/public/favicon.ico" alt="Promoted"/>
        <div class="promo-text">
            <div class="promo-main-text">DISPELL THE ROBOT APOCOLYPSE MYTH</div>
            <div class="promo-sub-text cta">
                <div>Save 20% on our friendliest</div>
                <div>robot heads</div>
            </div>
        </div>
        <img src="" alt="Big Eye Head"/>
    </div>

    <ul class="robot-parts-cta">
        <li>
            <a class="part">
                <img src="" alt="Additional Home Page options go here?"/>
                <div>Robot Heads</div>
            </a>
            <a class="part">
                <img src="" alt="Additional Home Page options go here?"/>
                <div>Robot Arms</div>
            </a>
            <a class="part">
                <img src="" alt="Additional Home Page options go here?"/>
                <div>Robot Torsos</div>
            </a>
            <a class="part">
                <img src="" alt="Additional Home Page options go here?"/>
                <div>Robot Bases</div>
            </a>
        </li>
    </ul>

    <div class="white-paper">
        <img src="" alt="Footer Information"/>
        <div class="text">
            <div>
                <div class="sub-text">
                    <p>Promo Materiel Re CatalystNW</p>
                    <p>Goes here</p>
                </div>
            </div>
            <div class="large-text">Other info here?</div>
            <a href="" class="learn-more">Learn More</a>"
        </div>
    </div>
</div>
